#page {
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  right:0;
  width: auto;   
  overflow-y: auto;
  background-color: #F2F3F4;
  z-index: 1001;
  display:none;
}
.page-outer {
  padding: 170px 0 50px;
  background-color: #FFF;
  min-height: 100vh;
  max-width: 972px;
  position: relative;
  margin-top: -120px;
}

.page-outer.loading{
  position: static;
}

a.close-page {
    position: absolute;
    right: 30px;
    top: 150px;
    z-index: 1;
}
#page h1 {
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;
}

#page .lead, 
#page blockquote {
  padding: 0 0 54px;
  margin: 0 0 54px;
  font-size: 20px;
  border-left: none;
  text-align: center;
  color: #009DD6;
  font-family: 'Titillium Web', sans-serif;
  border-bottom: 1px solid #E5E7E9;
}

#page h2 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
}

#page .group hr {
    border-color: #808990;
    margin-bottom: 10px;
    margin-top: 10px;
}
#page h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

#page .group p {
    margin-bottom: 0px;
}


#page .record-column {
    border-bottom: 1px solid #E5E7E9;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

#page .record-column:last-child {
    border-bottom: none;
}

#page .record-column .hint {
    font-family: 'Titillium Web', sans-serif;
    font-size: 100%;
    font-weight: 600;
    margin-top: 10px
}

#page .record-column h4 {  
    color: #808990;
    font-size: 17px;
    text-transform: none;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 30px;
}

#page th {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

#page table > thead > tr > th {
  border-bottom: 1px solid #ccd0d3;
  white-space: nowrap;
}
 
#page table > tbody > tr > td {
    border-color:#f2f3f4;
}

code {
  color: #007FAD;
  background-color: #EDF5F9;
  font-weight:normal;
}

#page table > tbody tr td:first-child {
    font-weight: bold;
}

.page-inner a {
    font-weight: bold;
}

.page-inner sup {
    color: #808990;
}

#page figcaption {
  font-size: 12px;
  color: #808990;
}