<% _.each(sections,function(section){ %>
<div class="form-section <%= section.classes %> form-section-<%= section.id %>">
  <div class="form-section-title">
    <span class="section-title"><%= t.sections[type][section.id] %></span>
    <button type="button" class="btn btn-primary btn-round query-section-reset" data-sectionid="<%= section.id %>">
      <%= t.filters.reset_section %>
    </button>
    <button
      type="button"
      class="pull-right btn btn-round expand-section hidden-expanded-section form-section-toggle-<%= section.id %>"
      data-sectionid="<%= section.id %>"
    >
      <span class="icon-icon_arrow-down" />
    </button>
    <button
      type="button"
      class="pull-right btn btn-round expand-section visible-expanded-section form-section-toggle-<%= section.id %>"
      data-sectionid="<%= section.id %>"
    >
      <span class="icon-icon_arrow-up" />
    </button>
  </div>
  <div class="form-section-content form-section-content-<%= section.id %>" />
</div>
<% }) %>
