<div class="filter-top">
  <div class="filter-top-icon">
    <span class="icon-icon_filter"></span>
  </div>
  <h4><%= t.filters.name%></h4>
  <h1><%= t.filters.title[type] %></h1>
  <div class="filter-top-menu">
    <%= menu %>
  </div>
</div>
<div class="filter-main">
  <form>
    <div class="form-search"></div>
    <div class="form-sections"></div>
    <button type="submit" class="sr-only btn btn-info btn-round btn-query-submit query-submit pull-right">
      <%= t.filters.button_submit %>
    </button>
  </form>
</div>
