<div class="input-group">
  <input type="text"
    class="form-control column-filter-text column-filter-text-keyword"
    data-column="<%= column %>"
    data-column-type="<%= type %>"
    id="text-<%= column %>"
    placeholder="<%= placeholder %>"
    value="<%= value %>"
  >
  <div class="input-group-btn input-group-btn-keyword">
    <button class="btn query-search-reset hide" type="button">
      X
    </button>
    <button class="btn query-submit" type="button">
      <span class='icon-icon_search'></span>
    </button>
  </div>
</div>
