<% if(title){ %><label for="<%= forId %>">
  <%= title %>
  <% if(tooltip !== "") {%><a 
     data-toggle="tooltip" 
     data-placement="top" 
     title="<%= tooltip_more ? tooltip + '<div>'+ t.app.ui.tooltip_more +'</div>' : tooltip%>" 
     data-html="true"
     href="#"
     class="nav-link toggle-tooltip"
     data-page-anchor="<%= id %>"
     data-id="attributes">
    <span class="icon-icon_info" aria-hidden="true"></span>
  </a><% } %>
</label>
<% if(hint !== "") {%><div class="column-hint hint"><%= hint %></div><% } %><% } %>