/* #navTemplate */

#nav {
  position:absolute;
  right:0;
  top:0;
  left:0;
  bottom:auto;
  height: 50px;
  width: 100%;
  background-color: #A71930;
  border-color: #A71930;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.2);
}

#nav img.img-logo-gns {
  height: 50px;
  margin-right: 25px
}

/*typography, #nav links & buttons*/
#nav a,
#nav a:focus{
  display:block;
  text-decoration:none;
  font-weight:600;
  font-family: 'Titillium Web', sans-serif;
}


/*bootstrap override*/
.nav > li {
    position: static;
}
.navbar-fixed-top {
  border-width: 0;
}
.navbar-nav > li > a {
  padding: 15px 15px;
}
@media (min-width: 992px) {
  .navbar-nav > li > a {
      padding: 15px 30px;
  }
}
.navbar-brand {
  padding: 15px 15px;
}
@media (min-width: 992px) {
  .navbar-brand {
    padding: 15px 30px;
  }
}
.navbar-brand.home-link {
  padding: 0px 15px;
}
@media (min-width: 992px) {
  .navbar-brand.home-link {
    padding: 0px 30px;
  }
}

.navbar-default .navbar-brand {
  color: #f2fafd;
  font-size: 16px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a {
    color: #D0D4D6;
}

/* navbar */
ul.navbar-nav {
    float: right;
}


.nav-subnav {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #EEEFF1;
    color: #66696C;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.2);
}

.nav-subnav ul.navbar-nav {
    float: none;
    display: inline-block;
}



.navbar-default .nav-subnav  .navbar-nav > .active > a,
.navbar-default .nav-subnav .navbar-nav > .active > a:hover,
.navbar-default .nav-subnav .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #66696C;
}


.navbar-default .nav-subnav  .navbar-nav a:hover{
  color: #66696C;
  background-color: #D0D4D6;
}

.navbar-default .nav-subnav .navbar-nav > li > a:hover,
.navbar-default .nav-subnav .navbar-nav > li > a:focus,
.navbar-default .nav-subnav .navbar-nav > li > a {
    color: #66696C;
}

/* navbar collapse */





#nav .collapsed .hide-on-collapsed {
  display: none;
}

#nav .show-on-collapsed {
  display: none;
}

#nav .collapsed .show-on-collapsed {
  display: block;
}
