/* #navTemplate */

#nav {
  position:absolute;
  right:0;  
  top:0;    
  left:0;
  bottom:auto;
  height: 60px;
  width: 100%; 
  background-color: #1e3948;
  border-color: #1e3948;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.2);  
}



/*typography, #nav links & buttons*/
#nav a,
#nav a:focus{
  display:block;
  text-decoration:none;
  font-weight:600;
  font-family: 'Titillium Web', sans-serif;
}  


/*bootstrap override*/
.nav > li {
    position: static;
}
.navbar-fixed-top {
  border-width: 0;
}  
.navbar-nav > li > a {
  padding: 20px 15px;
}
@media (min-width: 992px) {
  .navbar-nav > li > a {
      padding: 20px 30px;
  }
}
.navbar-brand {
  padding: 20px 15px;
}
@media (min-width: 992px) {
  .navbar-brand {
    padding: 20px 30px;
  }
}

.navbar-default .navbar-brand {
  color: #f2fafd;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a {
    color: #b2b8bd;
}

/* navbar */
ul.navbar-nav {
    float: right;
}


.nav-subnav {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: #19313f;
    color: #B2B8BD;   
}

.nav-subnav ul.navbar-nav {
    float: none;
    display: inline-block;
}



.navbar-default .nav-subnav  .navbar-nav > .active > a, 
.navbar-default .nav-subnav .navbar-nav > .active > a:hover, 
.navbar-default .nav-subnav .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #009DD6;
}


.navbar-default .nav-subnav  .navbar-nav a:hover{
  color: #B2B8BD;
  background-color: #172630;
}


/* navbar collapse */





#nav .collapsed .hide-on-collapsed {
  display: none;
}

#nav .show-on-collapsed {
  display: none;
}

#nav .collapsed .show-on-collapsed {
  display: block;
}



