#out {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right:0;
  width: auto;
  display:none;
}
/*@media (min-width: 768px) {*/
  #out {
    left: 330px;
  }
/*}*/
@media (min-width: 992px) {
  #out {
    left: 400px;
  }
}

@media (min-width: 1200px) {
  #out {
    left: 500px;
  }
}

#out nav {
    height: 60px;
    background-color: #EEEFF1;
    color: #66696C;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.2);
      position: relative;
    z-index: 1010;
}
#out .out-nav-info .out-nav-reset {
  margin-left: 3px;
}
#out .out-nav-info {
  padding: 2px 0;
  font-family: 'Titillium Web', sans-serif;
  margin-left: 5px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 992px) {
  #out .out-nav-info {
    margin-left: 30px;
  }
}
#out .out-nav-info-stat {
  padding: 2px 0;
}
#out .record-no {
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    color:#66696C;
    position: relative;
    top: -2px;
    margin-right: 2px;
    font-weight: 600;
}
@media (min-width: 992px) {
  #out .record-no {
    font-size: 16px;
    margin-right: 5px;
  }
}

.data-outer {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  overflow: auto;
  bottom: 0;
  z-index: 1000;
  padding: 30px 50px 60px;
  -webkit-box-shadow: 0px 3px 8px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 8px -2px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 8px -2px rgba(0,0,0,0.2);
  margin-bottom: 0px;
}

.btn-out-nav:active:focus,
.btn-out-nav:focus,
.btn-out-nav {
    outline:none;
    padding: 5px 0;
    width: 60px;
    height: 60px;
    border: 0;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    color: #66696C;
    border-right: 1px solid #D0D4D6;
}
.btn-out-nav.pull-right {
  border-left: 1px solid #D0D4D6;
  border-right: 0;
}

.btn-out-nav.active,
.btn-out-nav.active:hover,
.btn-out-nav.active:focus {
    background-color: #66696C;
    color: #fff;
}

.btn-out-nav:hover{
  color: #66696C;
  background-color: #D0D4D6;
}

#out .btn-link.query-reset {
  font-weight: 700;
  padding: 0;
}

.close-data {
    position: absolute;
    right: 0;
    top: 0;
}

.data-header {
  margin-bottom:30px
}

.nav-tabs {
    border-bottom: 1px solid #172630;
}
.nav-tabs > li > a {
    margin-right: 0;
    line-height: 1.42857143;
    border: 0;
    border-radius: 0 0 0 0;
    font-weight:bold;
    color:#99A1A7;
    padding: 4px 15px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #ffffff;
    background-color: #1E3948;
    cursor: default;
    border: 0;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background-color: #1E3948;
}
.nav-tabs > li {
    margin-bottom: 0;
}

a.download-data {
  font-weight:bold;
  color:#66696C;
  margin-right: 15px;
    line-height: 21px;
    min-height: 21px;
    display: inline-block;
}

a.download-data:hover, a.download-data:focus{
  text-decoration: none;
  opacity: 0.8;
  color:#66696C;
}

.tab-pane {
    padding-top: 10px;
}

.form-control.form-control-api {
    background-color: #172630;
    border: 1px solid #172630;
    color: #A71930;
    border-radius: 3px;
    font-size: 12px;
    height: 21px;
}
.form-control.form-control-api:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #0b1a23;
}

.data-option {
  margin-bottom:50px;
}
