.record-view {
  overflow: hidden;
  display:none;
}

.record-top {
  padding:10px 15px 20px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #f5f6f6;
  height:140px;
}
@media (min-width: 992px) {
  .record-top {
    padding:10px 30px 20px;
  }
}
.record-top h4{
  margin: 0
}
.record-top h1{
  margin-top: 2px;
}

.record-top-menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px 8px;
}
@media (min-width: 992px) {
  .record-top-menu {
    padding: 5px 15px;
  }
}
@media (min-width: 1200px) {
  .record-top-menu {
    padding: 5px 30px;
  }
}
a.record-top-menu-link {
  font-family: 'Titillium Web', sans-serif;
  color: #808990;
  padding: 0;
  font-size: 12px;
}

@media (min-width: 992px) {
  a.record-top-menu-link {
    padding: 0 2px;
    font-size: 14px;
  }
  .record-top-menu li:first-child a.record-top-menu-link {
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  a.record-top-menu-link {
    padding: 0 5px;
  }
}


a.record-top-menu-link.active,
a.record-top-menu-link:focus,
a.record-top-menu-link:hover{
  color: #A71930;
  text-decoration:none;
}

.close-record {
  position: absolute;
  top: 45px;
  right: 15px;
}

.record-main {
  padding: 30px 5px 0;
  position: absolute;
  top: 140px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
@media (min-width: 992px) {
  .record-main {
    padding:30px 15px 0;
  }
}

.record-main .column-title {
  font-weight:bold;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
}
.record-main .group-other {
  font-size: 12px;
}

.record-main .group-other .column-title {
  margin-bottom: 10px;
}

.record-view .group h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
}

.record-view .record-column{
  border-top:1px solid #e5e7e9;
  padding: 10px 0;
}
.record-view .record-column:first-child{
  border-top:1px solid;
  padding: 10px 0
}


.record-column .row {
  margin-left: -5px;
  margin-right: -5px;
}
.record-column .col-xs-4, .record-column .col-sm-4, .record-column .col-md-4, .record-column .col-lg-4,
.record-column .col-xs-5, .record-column .col-sm-5, .record-column .col-md-5, .record-column .col-lg-5,
.record-column .col-xs-6, .record-column .col-sm-6, .record-column .col-md-6, .record-column .col-lg-6,
.record-column .col-xs-7, .record-column .col-sm-7, .record-column .col-md-7, .record-column .col-lg-7,
.record-column .col-xs-8, .record-column .col-sm-8, .record-column .col-md-8, .record-column .col-lg-8,
.record-column .col-xs-12, .record-column .col-sm-12, .record-column .col-md-12, .record-column .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
}

.record-view p {
    margin: 0 0 8px;
}

.record-view .related-title {
  font-weight: bold;
  margin-top: 12px;
}
.record-view .reference-title {
  font-weight: bold;
  margin-top: 12px;
}

.record-view .reference-link {
  font-weight: bold;
}
.record-view .hint {
  font-size: 100%;
}

.record-column-list {
  margin-bottom: 15px;
}
