<div class="record-top">
  <div class="record-top-icon">
    <span class="icon-icon_detail"></span>
  </div>
  <h4><%= t.record.name[recordType] %></h4>
  <h1><%= t.record.title[recordType] %> <%= recordid %> <a
    href="#"
    title="<%= t.app.ui.close %>"
    class="close-record">
    <span class="icon-icon_close"></span>
  </a></h1>
</div>
<div class="record-main">
  <% _.each(columnGroups,function(group, index){ %>
  <div class="well">
    <div class="group <%= group.classes %>" data-index="<%= index %>">
      <h3><%= group.title %></h3>
      <div class="record-columns">
      <% _.each(group.groupColumns,function(column){ %>
      <% if (column) { %>
          <%= column %>
      <% } %>
      <% }) %>
      </div>
    </div>
  </div>
  <% }) %>
</div>
