
.icon-icon_arrow-down {
	background-image: url('svgs/icon_arrow-down.svg');
	background-repeat: no-repeat;
}

.icon-icon_arrow-right-hover {
	background-image: url('svgs/icon_arrow-right-hover.svg');
	background-repeat: no-repeat;
}

.icon-icon_arrow-right {
	background-image: url('svgs/icon_arrow-right.svg');
	background-repeat: no-repeat;
}

.icon-icon_arrow-up {
	background-image: url('svgs/icon_arrow-up.svg');
	background-repeat: no-repeat;
}

.icon-icon_close-blue-small {
	background-image: url('svgs/icon_close-blue-small.svg');
	background-repeat: no-repeat;
}

.icon-icon_close-white-small {
	background-image: url('svgs/icon_close-white-small.svg');
	background-repeat: no-repeat;
}

.icon-icon_close {
	background-image: url('svgs/icon_close.svg');
	background-repeat: no-repeat;
}

.icon-icon_detail {
	background-image: url('svgs/icon_detail.svg');
	background-repeat: no-repeat;
}

.icon-icon_download-blue {
	background-image: url('svgs/icon_download-blue.svg');
	background-repeat: no-repeat;
}

.icon-icon_download-grey {
	background-image: url('svgs/icon_download-grey.svg');
	background-repeat: no-repeat;
}

.icon-icon_download-white {
	background-image: url('svgs/icon_download-white.svg');
	background-repeat: no-repeat;
}

.icon-icon_draw-reset {
	background-image: url('svgs/icon_draw-reset.svg');
	background-repeat: no-repeat;
}

.icon-icon_draw {
	background-image: url('svgs/icon_draw.svg');
	background-repeat: no-repeat;
}

.icon-icon_facebook {
	background-image: url('svgs/icon_facebook.svg');
	background-repeat: no-repeat;
}

.icon-icon_filter-close {
	background-image: url('svgs/icon_filter-close.svg');
	background-repeat: no-repeat;
}

.icon-icon_filter-large-grey {
	background-image: url('svgs/icon_filter-large-grey.svg');
	background-repeat: no-repeat;
}

.icon-icon_filter-large-white {
	background-image: url('svgs/icon_filter-large-white.svg');
	background-repeat: no-repeat;
}

.icon-icon_filter-open {
	background-image: url('svgs/icon_filter-open.svg');
	background-repeat: no-repeat;
}

.icon-icon_filter {
	background-image: url('svgs/icon_filter.svg');
	background-repeat: no-repeat;
}

.icon-icon_hide-panel {
	background-image: url('svgs/icon_hide-panel.svg');
	background-repeat: no-repeat;
}

.icon-icon_info-hover {
	background-image: url('svgs/icon_info-hover.svg');
	background-repeat: no-repeat;
}

.icon-icon_info {
	background-image: url('svgs/icon_info.svg');
	background-repeat: no-repeat;
}

.icon-icon_latplot-grey {
	background-image: url('svgs/icon_latplot-grey.svg');
	background-repeat: no-repeat;
}

.icon-icon_latplot {
	background-image: url('svgs/icon_latplot.svg');
	background-repeat: no-repeat;
}

.icon-icon_longplot-grey {
	background-image: url('svgs/icon_longplot-grey.svg');
	background-repeat: no-repeat;
}

.icon-icon_longplot {
	background-image: url('svgs/icon_longplot.svg');
	background-repeat: no-repeat;
}

.icon-icon_menu {
	background-image: url('svgs/icon_menu.svg');
	background-repeat: no-repeat;
}

.icon-icon_minus {
	background-image: url('svgs/icon_minus.svg');
	background-repeat: no-repeat;
}

.icon-icon_nz-active {
	background-image: url('svgs/icon_nz-active.svg');
	background-repeat: no-repeat;
}

.icon-icon_nz {
	background-image: url('svgs/icon_nz.svg');
	background-repeat: no-repeat;
}

.icon-icon_plus {
	background-image: url('svgs/icon_plus.svg');
	background-repeat: no-repeat;
}

.icon-icon_search {
	background-image: url('svgs/icon_search.svg');
	background-repeat: no-repeat;
}

.icon-icon_settings-grey {
	background-image: url('svgs/icon_settings-grey.svg');
	background-repeat: no-repeat;
}

.icon-icon_settings {
	background-image: url('svgs/icon_settings.svg');
	background-repeat: no-repeat;
}

.icon-icon_sorting-asc-active {
	background-image: url('svgs/icon_sorting-asc-active.svg');
	background-repeat: no-repeat;
}

.icon-icon_sorting-asc {
	background-image: url('svgs/icon_sorting-asc.svg');
	background-repeat: no-repeat;
}

.icon-icon_sorting-desc-active {
	background-image: url('svgs/icon_sorting-desc-active.svg');
	background-repeat: no-repeat;
}

.icon-icon_sorting-desc {
	background-image: url('svgs/icon_sorting-desc.svg');
	background-repeat: no-repeat;
}

.icon-icon_sorting {
	background-image: url('svgs/icon_sorting.svg');
	background-repeat: no-repeat;
}

.icon-icon_table-active {
	background-image: url('svgs/icon_table-active.svg');
	background-repeat: no-repeat;
}

.icon-icon_table {
	background-image: url('svgs/icon_table.svg');
	background-repeat: no-repeat;
}

.icon-icon_tick {
	background-image: url('svgs/icon_tick.svg');
	background-repeat: no-repeat;
}

.icon-icon_twitter {
	background-image: url('svgs/icon_twitter.svg');
	background-repeat: no-repeat;
}
