/* default dimensions */
[class^="icon-"], [class*=" icon-"]{
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  vertical-align: middle;
}
/*xl: 60
l:48
m:32
s:26
xs: 16*/
.icon-icon_facebook,
.icon-icon_twitter,
.icon-icon_draw-reset,
.icon-icon_draw,
.icon-icon_sorting-asc-active,
.icon-icon_sorting-asc,
.icon-icon_sorting-desc-active,
.icon-icon_sorting-desc,
.icon-icon_sorting {
  width:26px;
  height:26px;
}
.icon-icon_facebook,
.icon-icon_twitter{
    margin-top: -3px;
    margin-left: -10px;
}
.icon-icon_tick {
  position: relative;
  top: -2px;
}

.icon-icon_close {
    width: 60px;
    height: 60px;
}

.icon-icon_hide-panel,
.icon-icon_latplot,
.icon-icon_longplot,
.icon-icon_settings {
  width: 48px; 
  height: 48px; 
}

.icon-icon_download-grey,
.icon-icon_download-white{
  width: 19px;
  height: 32px;  
}

.icon-icon_detail,
.icon-icon_table-active,
.icon-icon_nz-active,
.icon-icon_nz,
.icon-icon_table,
.icon-icon_filter {
  width: 32px;
  height: 32px;  
}

.icon-icon_info {
    position: relative;
    top: -3px;
}

.icon-icon_tick {
    position: relative;
    top: -2px;
}