<a href="#" title="Close" class="close-page">
    <span class="icon-icon_close"></span>
</a>
<div class="page-inner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="placeholder-content container-fluid">
                    <h1>Contact</h1>
                    <p>The Database welcomes new data through a verification of entries by interested parties, with appropriate
                        additions and deletions as information becomes available. If you would like to provide feedback,
                        have a question or report a potential issue please contact:
                        <a href="mailto:Palaeotsunami-Info@niwa.co.nz">Palaeotsunami-Info@niwa.co.nz</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
