<a href="#" title="Close" class="close-page">
    <span class="icon-icon_close"></span>
</a>
<div class="page-inner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="placeholder-content container-fluid">
                    <h1>Tsunami Travel</h1>
                    <p class="lead">Across the deep ocean, tsunamis travel at roughly the same speed as a jet airliner.</p>
                    <h2>Tsunami Travel, Inundation and Runup</h2>
                    <p>Tsunamis travel at very predictable speeds. The speed depends on the depth of the water the tsunami wave
                        is travelling through. In deep water the tsunami travels faster than in shallow water. As a tsunami
                        wave approaches dry land and the water shallows, it slows down relative to its speed in the deep
                        ocean. It is the slowing of the wave in shallow water that leads to the destructive flooding (inundation)
                        of tsunami waves.</p>
                    <p>Tsunamis have very long wavelengths. As the tsunami travels into shallower and shallower water, the leading
                        edge of the wave will slow to almost zero, while the following sections of the wave will still be
                        travelling at full speed. This results in the ‘train wreck’ effect where the back part of the wave
                        piles up behind the slower moving wave front. The wave train increases in height as the back runs
                        into the front. This height build up leads to flooding in the coastal area (Figure 1).</p>
                    <p></p>
                    <figure>
                        <img style="display: block; margin: 0px auto;" src="/assets/img/tsunami-stages@2x.png"
                            alt="Schematic: tsunami propagation, shoaling and inundation." width="750" height="312" class="img-responsive">
                        <figcaption>Figure 1: Schematic of tsunami propagation, shoaling and inundation.</figcaption>
                    </figure>
                    <p></p>
                    <p>Depending on the size and shape of the tsunami and the shape of the seafloor and coast, this flooding
                        can look like a rapidly rising tide (this is why tsunamis have wrongly been called ‘tidal waves’),
                        or it can result in violently breaking waves and destructive high-speed flooding (inundation). The
                        general terms for tsunami inundation and runup are defined in Figure 2.</p>
                    <p></p>
                    <figure>
                        <img style="display: block; margin: 0px auto;" src="/assets/img/inundation-zone@2x.png"
                            alt="Schematic: tsunami inundation zone." width="750" height="312" class="img-responsive">
                        <figcaption>Figure 2: Schematic of tsunami inundation zone.</figcaption>
                    </figure>
                    <br>
                    <p></p>
                    <h2>Tsunami Travel Times</h2>
                    <p>Experts can work out how long it will take a tsunami to travel from one place to another by knowing it
                        source and the depth of water the tsunami is travelling through. On average, tsunamis travel at roughly
                        the same speed as a jet airliner. It takes about 14-16 hours for a tsunami to cross the Pacific Ocean.</p>
                    <p>The technique to compute travel times is an application of Huygen's principle which states that all points
                        on a wave front are point sources for secondary spherical waves. Details of the method used to compute
                        tsunami travel times over a grid of depth data can be found in Shokin, et al. (1987). The figures
                        below show tsunami travel times from any point in the Pacific Ocean to Auckland, Gisborne and Christchurch,
                        New Zealand. Inspection of the map for Gisborne shows that a tsunami from central Chile would take
                        13-14 hours travel time, while a tsunami from Japan would take approximately 13 hours..</p>
                    <p>It is important to remember that a tsunami is not just one wave but is made up of a series of waves that
                        arrive over several hours. The first waves to arrive are generally not the largest. The biggest waves
                        and strongest effects – particularly from distant source tsunamis – generally occur many hours after
                        the tsunami’s first arrival, as was the case in New Zealand following the 2010 Chile and 2011 Japan
                        tsunamis (Borrero and Greer, 2013).</p>
                    <p></p>
                    <figure>
                        <img style="display: block; margin: 0px auto;" src="/assets/img/travel-times_auckland@2x.png"
                            alt="Map: Travel times from anywhere in the Pacific Ocean to Auckland, New Zealand." class="img-responsive">
                        <figcaption>Figure 3: Travel times (in hours) from anywhere in the Pacific Ocean to Auckland, New Zealand.</figcaption>
                    </figure>
                    <figure>
                        <img style="display: block; margin: 0px auto;" src="/assets/img/travel-times_gisborne@2x.png"
                            alt="Map: Travel times from anywhere in the Pacific Ocean to Gisborne, New Zealand." width="750"
                            height="450" class="img-responsive">
                        <figcaption>Figure 4: Travel times (in hours) from anywhere in the Pacific Ocean to Gisborne, New Zealand.</figcaption>
                    </figure>
                    <figure>
                        <img style="display: block; margin: 0px auto;" src="/assets/img/travel-times_christchurch@2x.png"
                            alt="Map: Travel times from anywhere in the Pacific Ocean to Christchurch, New Zealand." width="750"
                            height="450" class="img-responsive">
                        <figcaption>Figure 5: Travel times (in hours) from anywhere in the Pacific Ocean to Christchurch, New Zealand.</figcaption>
                    </figure>
                    <br>
                    <p></p>
                    <hr>
                    <h2>References</h2>
                    <p>Borrero, J. and Greer, S.D. 2013. Comparison of the 2010 Chile and 2010 Japan tsunamis in the Far-field.
                        Pure and Applied Geophysics, 170, 1249-1274.</p>
                    <p>Shokin, et al., 1987, Calculations of tsunami travel time charts in the Pacific Ocean. Science of Tsunami
                        Hazards, 5, 85-113.</p>
                </div>
            </div>
        </div>
    </div>
</div>