<a href="#" title="Close" class="close-page">
    <span class="icon-icon_close"></span>
</a>
<div class="page-inner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="placeholder-content container-fluid">
                    <h1>Data Usage</h1>
                    <p class="lead">Terms and Conditions of Use of the New Zealand Palaeotsunami Database</p>
                    <p>The
                        <strong>New Zealand Palaeotsunami Database</strong> (Database) is provided by the National Institute
                        of Water &amp; Atmospheric Research Ltd, a Crown Research Institute established in accordance
                        with the Crown Research Institutes Act 1992 and Ministry for Civil Defence and Emergency Management
                        (MCDEM), (together, the Providers). The Providers make the Database available for the purpose
                        of disseminating to the public information in relation to palaeotsunamis (Information).</p>
                    <p>While the Providers have used all reasonable endeavours to ensure the accuracy of the Information
                        provided in the Database, the user acknowledges and agrees that the Information is provided “as
                        is” without warranties of any kind, either express or implied, including as to accuracy, completeness,
                        correctness, timeliness or fitness for any particular purpose. Accordingly, the Providers do
                        not give, and the user acknowledges and agrees that the Providers have not given, any representation
                        or warranty that:</p>
                    <ul>
                        <li>the Information contains no errors, is complete or up-to-date; or</li>
                        <li>the Information or Database may be used for any particular purpose, or give any particular results
                            or outcomes; or</li>
                        <li>the flow of Information from, or provision of the Database by, the Providers will not be interrupted
                            for whatever reason, or be available at particular times; or</li>
                        <li>the Database or the Information will not infringe any third party’s intellectual property rights.</li>
                    </ul>
                    <p>In addition, the Database and the Information shall in no way be construed to constitute a recommendation
                        by the Providers to take (or not to take) any specific action. The user acknowledges that it
                        assumes the sole risk of assessing, evaluating, interpreting and applying the Information</p>
                    <p>The user acknowledges and agrees that while the Information and the Database is provided freely by
                        the Providers:</p>
                    <ul>
                        <li>the user will only use the Database and the Information for lawful purposes;</li>
                        <li>when quoting, or citing the Database or the Information or sharing Information, the user must
                            cite the following reference: New Zealand Palaeotsunami Database. 2017.
                            <a href="https://ptdb.niwa.co.nz"
                                target="_blank">https://ptdb.niwa.co.nz</a> [Access Date]. Subject to Terms and Conditions of Use.</li>
                        <li>the user may modify the Information but shall indicate any modifications made when sharing the
                            Information;</li>
                        <li>the user will not reproduce all or a significant part of the Database or the Information via
                            its own website or a website that is not owned by the Providers.</li>
                    </ul>
                    <p>All proprietary rights (including all intellectual property rights) in, or associated with the Database
                        and the Information are, and shall remain, vested solely in the Providers (or any other relevant
                        third party who has contributed Information for which the Providers act as custodian).</p>
                    <p>The Providers accept no liability for any loss or damage (whether direct or indirect) incurred by
                        the user or any other person through their use of the Database or use, reference to, reliance
                        on or possession of the Information. This shall include any interference with or damage to a
                        user’s computer system, software or data occurring in connection with or relating to the Database
                        or its use. Users are encouraged to take appropriate and adequate precautions to ensure that
                        whatever is selected from the Database is free of viruses or other contamination that may interfere
                        with or damage the user’s computer system, software or data.</p>
                </div>
            </div>
        </div>
    </div>
</div>